body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header ul {
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

header ul li {
  display: inline;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

main {
  margin-bottom: 20px;
}

#imgHook {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.change {
  margin-right: auto;
  margin-left: auto;
  opacity: .3;
}

.current {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.current img {
  max-width: 500px;
  max-height: 500px;
}

footer {
  position: absolute;
  top: 99%;
  margin-top: 20px;
}
